.h-full-vh {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.mh-full-vh {
  min-height: 100vh;
}

.w-100 {
  width: 100%;
}

@for $i from 1 through 100 {
  .mh-#{$i}-vh {
    min-height: #{$i}vh;
  }
  .h-#{$i}-vh {
    height: #{$i}vh;
  }
}